{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>View Employee</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'viewemployee/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'viewemployee/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
<div style="text-decoration-style: revert">
{% include 'admin/adminHeader.html' %}
</div>
	<div class="limiter">
        <div class="container-table100">

			<div class="wrap-table100">
            <h1 style="text-align: center">UPDATE EMPLOYEE PAGE</h1>
				<div class="table100 ver1">

					<div class="table100-firstcol">
						<table>
							<thead>
                                <tr class="row100 head">
									<th class="cell100 column1">Employees id</th>
								</tr>
							</thead>
							<tbody>
                            {% for x in object_list %}
								<tr class="row100 body">
									<td class="cell100 column1">
                                        <a href="{% url 'update' %}?id={{ x.id }}">
                                            {{ x.id }}</a>
								</tr>
                            {% endfor %}

							</tbody>
						</table>
					</div>

					<div class="wrap-table100-nextcols js-pscroll">
						<div class="table100-nextcols">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column2">DESGIGNATION</th>
										<th class="cell100 column3">NAME</th>
										<th class="cell100 column4">LAST NAME</th>
										<th class="cell100 column5">GENDER</th>
										<th class="cell100 column6">Contacts</th>
										<th class="cell100 column7">EMAIL</th>
										<th class="cell100 column8">Address</th>
									</tr>
								</thead>
								<tbody>
                                {% for x in object_list %}
									<tr class="row100 body">
										<td class="cell100 column2">{{ x.designations}}</td>
										<td class="cell100 column3">{{ x.name }}</td>
										<td class="cell100 column4">{{ x.lastName }}</td>
										<td class="cell100 column5">{{ x.gender }}</td>
										<td class="cell100 column6">{{ x.contactno }}</td>
										<td class="cell100 column7">{{ x.email }}</td>
										<td class="cell100 column8">{{ x.address }}</td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="{% static 'viewemployee/vendor/jquery/jquery-3.2.1.min.js"' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'viewemployee/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'viewemployee/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'viewemployee/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})

			$(this).on('ps-x-reach-start', function(){
				$(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
			});

			$(this).on('ps-scroll-x', function(){
				$(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
			});

		});




	</script>
<!--===============================================================================================-->
	<script src="{% static 'viewemployee/js/main.js' %}"></script>
{% include 'mainfooter.html' %}
</body>
</html>
